@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply font-bold py-2 px-4 rounded w-1/2;
}

.btn-blue,
.btnBlue {
    @apply bg-blue-500 text-white;
}

.btn-blue:hover,
.btnBlue:hover {
    @apply bg-blue-700;
}

.btn-green,
.btnGreen {
    @apply bg-green-500 text-white;
}

.btn-green:hover,
.btnGreen:hover {
    @apply bg-green-700;
}
