body {
  font-family: Arimo, "sans-serif";
  font-size: 14px;
}

.link {
  padding: 8px 10px;
  border-radius: 3px;
}

.link:hover {
  background: rgba(0, 0, 0, 0.1);
}

.wrapper {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 20px;
  border-radius: 2px;
  margin-top: 20px;
  background: rgba(128, 128, 128, 0.1);
}
