.e_StoresPage {
  max-width: calc(1000px + var(--outer-space) * 2);
  padding: 0 var(--outer-space);
  margin: 0 auto;
}

.e_StoresPage_list {
  list-style: none;
  padding: 0;
  margin: 5em 0 4em;
  display: flex;
  justify-content: space-between;
  gap: 2em;
  flex-wrap: wrap;
}

.e_StoresPage p {
  max-width: 80ch;
}
