/* ../../../../../private/var/folders/09/6h9fyj312rl6lkm877x0pzp00000gn/T/tmp-1765-vsKxnIIgKmuu/Users/michael/Lab/tractor-store-preact/explore/src/components/Navigation.css */
.ex_navigation--h1138 {
  flex-grow: 1;
}
.ex_list--hf58f {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  gap: 2rem;
}
.ex_item--hab80 a {
  position: relative;
  display: block;
  padding: 5px 20px;
  color: #000;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 4px;
  text-decoration: none;
  background:
    linear-gradient(
      0deg,
      #f5f5f5,
      #fff);
  border-bottom: 1px solid #eeebe2;
}
.ex_item--hab80:hover a,
.ex_item--hab80:focus a {
  border-bottom-color: #757165;
}
.ex_item--hab80 a::before,
.ex_item--hab80 a::after {
  display: block;
  content: "";
  position: absolute;
  width: 20px;
  height: calc(100% + 1px);
  top: 0;
}
.ex_item--hab80 a::before {
  left: 0;
  background:
    linear-gradient(
      -90deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1));
}
.ex_item--hab80 a::after {
  right: 0;
  background:
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1));
}

/* ../../../../../private/var/folders/09/6h9fyj312rl6lkm877x0pzp00000gn/T/tmp-1765-vsKxnIIgKmuu/Users/michael/Lab/tractor-store-preact/explore/src/components/Header.css */
.ex_header--he236 {
  max-width: calc(1000px + var(--outer-space) * 2);
  margin: 1rem auto 0;
  align-items: center;
}
.ex_cutter--he77d {
  @media (min-width:1100px) {
    margin: 0 calc(var(--outer-space) * -1);
  }
  overflow: hidden;
  padding: 0 0 30px;
}
.ex_inner--h0d78 {
  @media (max-width:999px) {
    display: grid;
    grid-template: "logo mini-cart" "navigation navigation";
  }
  @media (min-width:1000px) {
    padding: 0 var(--outer-space);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media (min-width:1000px) and (max-width:1099px) {
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  min-height: 135px;
  box-shadow: 0 0 20px 10px #eb5b5920;
  border-bottom: 1px solid #eeebe2;
  mix-blend-mode: darken;
  flex: 1;
}
.ex_inner--h0d78::before,
.ex_inner--h0d78::after {
  position: absolute;
  top: 0;
  width: 48px;
  height: calc(100% + 30px);
}
@media (min-width:1000px) {
  .ex_inner--h0d78::before,
  .ex_inner--h0d78::after {
    content: "";
    display: block;
  }
}
@media (max-width:1099px) {
  .ex_inner--h0d78::before,
  .ex_inner--h0d78::after {
    width: var(--outer-space);
  }
}
@media (min-width:1100px) {
  .ex_inner--h0d78::before,
  .ex_inner--h0d78::after {
    width: calc(var(--outer-space) * 2);
  }
}
.ex_inner--h0d78::before {
  left: 0;
  background:
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0));
}
@media (min-width:1100px) {
  .ex_inner--h0d78::before {
    left: calc(var(--outer-space) * -1);
  }
}
.ex_inner--h0d78::after {
  right: 0;
  background:
    linear-gradient(
      -90deg,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0));
}
@media (min-width:1100px) {
  .ex_inner--h0d78::after {
    right: calc(var(--outer-space) * -1);
  }
}
.ex_logo--hd0fd {
  @media (max-width:499px) {
    width: 170px;
  }
  @media (min-width:500px) {
    width: 270px;
  }
  display: block;
}
.ex_link--h0153 {
  grid-area: logo;
  display: flex;
  margin-left: var(--outer-space);
  align-items: center;
}
.ex_cart--h271c {
  grid-area: mini-cart;
  display: flex;
  justify-content: flex-end;
}
.ex_navigation--heaed {
  @media (max-width:999px) {
    margin-bottom: 1rem;
  }
  grid-area: navigation;
}

/* ../../../../../private/var/folders/09/6h9fyj312rl6lkm877x0pzp00000gn/T/tmp-1765-vsKxnIIgKmuu/Users/michael/Lab/tractor-store-preact/explore/src/components/Footer.css */
.ex_footer--hd453 {
  max-width: calc(1000px + var(--outer-space) * 2);
  margin: 1rem auto 2rem;
  align-items: center;
}
.ex_cutter--ha57a {
  @media (min-width:1100px) {
    margin: 0 calc(var(--outer-space) * -1);
  }
  overflow: hidden;
  padding: 30px 0 0;
}
.ex_inner--h5b70 {
  @media (max-width:999px) {
    padding: 3rem var(--outer-space);
  }
  @media (min-width:1000px) {
    display: flex;
    padding: 3rem calc(2 * var(--outer-space));
  }
  @media (min-width:1000px) and (max-width:1099px) {
    padding: 3rem var(--outer-space);
    display: flex;
  }
  min-height: 135px;
  box-shadow: 0 10px 20px 10px #eb5b5920;
  border-top: 1px solid #eeebe2;
  mix-blend-mode: darken;
}
.ex_inner--h5b70::before,
.ex_inner--h5b70::after {
  position: absolute;
  top: 0;
  width: 48px;
  height: calc(100% + 30px);
}
@media (min-width:1000px) {
  .ex_inner--h5b70::before,
  .ex_inner--h5b70::after {
    content: "";
    display: block;
  }
}
@media (max-width:1099px) {
  .ex_inner--h5b70::before,
  .ex_inner--h5b70::after {
    width: var(--outer-space);
  }
}
@media (min-width:1100px) {
  .ex_inner--h5b70::before,
  .ex_inner--h5b70::after {
    width: calc(var(--outer-space) * 2);
  }
}
.ex_inner--h5b70::before {
  left: 0;
  background:
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0));
}
@media (min-width:1100px) {
  .ex_inner--h5b70::before {
    left: calc(var(--outer-space) * -1);
  }
}
.ex_inner--h5b70::after {
  right: 0;
  background:
    linear-gradient(
      -90deg,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0));
}
@media (min-width:1100px) {
  .ex_inner--h5b70::after {
    right: calc(var(--outer-space) * -1);
  }
}
.ex_footer--hd453 a {
  color: #ff5a55;
}
.ex_initiative--h613b {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  flex: 1;
  margin-bottom: 2rem;
}
.ex_initiative--h613b,
.ex_credits--h7878 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
}
.ex_initiative--h613b img {
  margin-top: 4px;
  width: 45px;
}
.ex_initiative--h613b p {
  margin: 0;
}
.ex_credits--h7878 h4 {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
  color: #ff5a55;
}
.ex_credits--h7878 p {
  margin: 0 0 1rem;
}
.ex_credits--h7878 img {
  display: inline-block;
  width: 15px;
}

/* ../../../../../private/var/folders/09/6h9fyj312rl6lkm877x0pzp00000gn/T/tmp-1765-vsKxnIIgKmuu/Users/michael/Lab/tractor-store-preact/explore/src/components/Recommendation.css */
.ex_recommendation--h1b1b {
  margin: 0;
}
@media (min-width:500px) and (max-width:999px) {
  .ex_recommendation--h1b1b:nth-child(4) {
    display: none;
  }
}
.ex_link--hc05f {
  text-decoration: none;
  color: black;
}
.ex_image--hffa9 {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  display: block;
}
.ex_name--he718 {
  margin: 1rem 0;
  color: black;
  text-align: center;
  display: block;
}

/* ../../../../../private/var/folders/09/6h9fyj312rl6lkm877x0pzp00000gn/T/tmp-1765-vsKxnIIgKmuu/Users/michael/Lab/tractor-store-preact/explore/src/components/Recommendations.css */
.ex_recommendations--h81ff {
  padding: 1rem;
  margin: 0 -1rem 3rem;
}
.ex_list--h7801 {
  @media (max-width:499px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width:500px) and (max-width:999px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width:1000px) {
    grid-template-columns: repeat(4, 1fr);
  }
  position: relative;
  display: grid;
  gap: 40px;
  padding: 0;
  list-style-type: none;
}

/* ../../../../../private/var/folders/09/6h9fyj312rl6lkm877x0pzp00000gn/T/tmp-1765-vsKxnIIgKmuu/Users/michael/Lab/tractor-store-preact/explore/src/components/Filter.css */
.ex_filter--hf73d {
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--outer-space);
  gap: 1rem;
}
.ex_filter--hf73d ul {
  display: flex;
  list-style: none;
  gap: 0.8rem;
  padding: 0;
  margin: 0;
}
.ex_filter--hf73d li {
  position: relative;
}
.ex_filter--hf73d a {
  color: inherit;
  text-decoration: none;
}
.ex_active--hf749::before,
.ex_filter--hf73d a:hover::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  bottom: -2px;
  position: absolute;
}
.ex_active--hf749::before {
  background-color: black;
}
.ex_filter--hf73d a:hover::before {
  background-color: #ff5a55;
}

/* ../../../../../private/var/folders/09/6h9fyj312rl6lkm877x0pzp00000gn/T/tmp-1765-vsKxnIIgKmuu/Users/michael/Lab/tractor-store-preact/explore/src/components/Product.css */
.ex_product--h2174 {
  margin: 0;
}
.ex_link--h1ba3 {
  text-decoration: none;
  color: black;
}
.ex_image--h4919 {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  display: block;
}
.ex_name--h86d8 {
  margin: 12px 0 8px;
  color: black;
  text-align: center;
  display: block;
}
.ex_price--hda46 {
  margin: 8px 0;
  color: black;
  text-align: center;
  display: block;
}

/* ../../../../../private/var/folders/09/6h9fyj312rl6lkm877x0pzp00000gn/T/tmp-1765-vsKxnIIgKmuu/Users/michael/Lab/tractor-store-preact/explore/src/pages/CategoryPage.css */
.ex_page--h9de5 {
  max-width: calc(1000px + var(--outer-space) * 2);
  padding: 0 var(--outer-space);
  margin: 0 auto;
}
.ex_list--hd7c2 {
  display: grid;
  grid-gap: 40px;
  padding: 0;
  list-style-type: none;
}
@media (max-width:499px) {
  .ex_list--hd7c2 {
    grid-template-columns: 1fr;
  }
}
@media (min-width:500px) and (max-width:999px) {
  .ex_list--hd7c2 {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width:1000px) {
  .ex_list--hd7c2 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.ex_subline--h740d {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
}
.ex_subline--h740d * {
  margin: 0;
  line-height: 1.5;
}

/* ../../../../../private/var/folders/09/6h9fyj312rl6lkm877x0pzp00000gn/T/tmp-1765-vsKxnIIgKmuu/Users/michael/Lab/tractor-store-preact/explore/src/pages/HomePage.css */
.ex_page--h6487 {
  @media (min-width:500px) {
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 1rem;
  }
  max-width: calc(1000px + var(--outer-space) * 2);
  padding: 0 var(--outer-space);
  margin: 3rem auto 0;
}
.ex_categoryLink--he75e {
  display: block;
  position: relative;
  margin-bottom: 2rem;
  color: inherit;
  text-align: center;
  text-decoration: none;
}
.ex_categoryLink--he75e:hover,
.ex_categoryLink--he75e:focus {
  text-decoration: underline;
}
.ex_categoryLink--he75e img {
  width: 100%;
  aspect-ratio: 1000 / 560;
  margin-bottom: 0.75rem;
}
.ex_recommendations--h3b3a {
  grid-column: span 2;
}

/* ../../../../../private/var/folders/09/6h9fyj312rl6lkm877x0pzp00000gn/T/tmp-1765-vsKxnIIgKmuu/Users/michael/Lab/tractor-store-preact/explore/src/pages/StoresPage.css */
.ex_page--h3cb6 {
  max-width: calc(1000px + var(--outer-space) * 2);
  padding: 0 var(--outer-space);
  margin: 0 auto;
}
.ex_list--h7823 {
  list-style: none;
  padding: 0;
  margin: 5em 0 4em;
  display: flex;
  justify-content: space-between;
  gap: 2em;
  flex-wrap: wrap;
}
.ex_page--h3cb6 p {
  max-width: 80ch;
}

/* src/styles.css */
@font-face {
  font-family: "Raleway";
  src: url(https://cdn.the-tractor.store/cdn/font/raleway-regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
html {
  font-family:
    Raleway,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  font-size: 16px;
}
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
p {
  line-height: 1.5;
}
:root {
  --outer-space: 1.5rem;
}
