{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 4 versions", "not ie <= 9"]
      },
      "modules": false
    }],
  ],
  "env": {
    "development": {
      "presets": [
        "@babel/preset-react",
        ["@babel/preset-env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    },
    "test": {
      "presets": [
        "@babel/preset-react",
        ["@babel/preset-env", {
          "targets": {
            "node": "current"
          }
        }]
      ],
    }
  },
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-import-meta",
    ["@babel/plugin-proposal-class-properties", { "loose": false }],
    "@babel/plugin-proposal-json-strings",
    "@loadable/babel-plugin"
  ]
}
