.root {
  margin: 0 auto;
  max-width: calc(500px + var(--outer-space) * 2);
  padding: 0 var(--outer-space);
  min-height: 50vh;
}

.title {
  margin: 4rem 0;
  font-size: 40px;
}

.text {
  margin: 4rem 0;
}
