.header {
  max-width: calc(1000px + var(--outer-space) * 2);
  margin: 1rem auto 0;
  align-items: center;
}

.cutter {
  @media (min-width: 1100px) {
    margin: 0 calc(var(--outer-space) * -1);
  }
  overflow: hidden;
  padding: 0 0 30px;
}

.inner {
  @media (max-width: 999px) {
    display: grid;
    grid-template:
      "logo mini-cart"
      "navigation navigation";
  }

  @media (min-width: 1000px) {
    padding: 0 var(--outer-space);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: 1000px) and (max-width: 1099px) {
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  min-height: 135px;
  box-shadow: 0 0 20px 10px #eb5b5920;
  border-bottom: 1px solid #eeebe2;
  mix-blend-mode: darken;
  flex: 1;
}

.inner::before,
.inner::after {
  position: absolute;
  top: 0;
  width: 48px;
  height: calc(100% + 30px);
}

@media (min-width: 1000px) {
  .inner::before,
  .inner::after {
    content: "";
    display: block;
  }
}

@media (max-width: 1099px) {
  .inner::before,
  .inner::after {
    width: var(--outer-space);
  }
}

@media (min-width: 1100px) {
  .inner::before,
  .inner::after {
    width: calc(var(--outer-space) * 2);
  }
}

.inner::before {
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

@media (min-width: 1100px) {
  .inner::before {
    left: calc(var(--outer-space) * -1);
  }
}

.inner::after {
  right: 0;
  background: linear-gradient(
    -90deg,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

@media (min-width: 1100px) {
  .inner::after {
    right: calc(var(--outer-space) * -1);
  }
}

.logo {
  @media (max-width: 499px) {
    width: 170px;
  }

  @media (min-width: 500px) {
    width: 270px;
  }
  display: block;
}

.link {
  grid-area: logo;
  display: flex;
  margin-left: var(--outer-space);
  align-items: center;
}

.cart {
  grid-area: mini-cart;
  display: flex;
  justify-content: flex-end;
}

.navigation {
  @media (max-width: 999px) {
    margin-bottom: 1rem;
  }
  grid-area: navigation;
}
