.navigation {
  flex-grow: 1;
}

.list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  gap: 2rem;
}

.item a {
  position: relative;
  display: block;
  padding: 5px 20px;
  color: #000;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 4px;
  text-decoration: none;
  background: linear-gradient(0deg, #f5f5f5, #fff);
  border-bottom: 1px solid #eeebe2;
}

.item:hover a,
.item:focus a {
  border-bottom-color: #757165;
}

.item a::before,
.item a::after {
  display: block;
  content: "";
  position: absolute;
  width: 20px;
  height: calc(100% + 1px);
  top: 0;
}

.item a::before {
  left: 0;
  background: linear-gradient(
    -90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}

.item a::after {
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}
