.product {
  margin: 0;
}

.link {
  text-decoration: none;
  color: black;
}

.image {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  display: block;
}

.name {
  margin: 12px 0 8px;
  color: black;
  text-align: center;
  display: block;
}

.price {
  margin: 8px 0;
  color: black;
  text-align: center;
  display: block;
}
