.yellow-button,
.yellowButton {
    background-color: yellow;
    border: 2px solid green;
    width: 50%;
    padding: 12px;
}

.red-button,
.redButton {
    background-color: red;
    border: 2px solid green;
    width: 50%;
    padding: 12px;
    color: white;
}
