<br />
<h2>List users from the shared application state</h2>
<div *ngIf="users">
  <table class="table table-striped">
    <thead class="bg-primary text-white">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | async">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td> 
          <button (click)="removeUser(user)" class="btn btn-danger">Remove User</button>
        </td>        
      </tr>
    </tbody>
  </table>
</div>