.black-button {
    border: var(--button-border);
    width: var(--button-width);
    padding: var(--button-padding);
    background-color: black;
    color: white;
}

.black-button-no-var {
    border: 2px solid green;
    width: 50%;
    padding: 12px;
    background-color: black;
    color: white;
}

.spacing {
    margin-bottom: 40px;
}
