.e_Product {
  margin: 0;
}

.e_Product_link {
  text-decoration: none;
  color: black;
}

.e_Product_image {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  display: block;
}

.e_Product_name {
  margin: 12px 0 8px;
  color: black;
  text-align: center;
  display: block;
}

.e_Product_price {
  margin: 8px 0;
  color: black;
  text-align: center;
  display: block;
}
