@mixin button($color: red, $textColor: black) {
    background-color: $color;
    border: 2px solid green;
    width: 50%;
    padding: 12px;
    color: $textColor;
}

.orange-button {
    @include button(orange);
}
